.about-body{
    max-width: 1260px !important;
    margin-top: 70px;
    margin-bottom: 70px;
    p{
        font-size: 20px;
        color: grey;
        margin-right: auto;
        margin-left: auto;
    }
    h4{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}