.blank-login{
    display: flex;
    flex-direction: column;
    width: 700px;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    .login-title{
        color: #808080;
        margin-top: 100px;
        margin-bottom: 20px;
        font-size: 22px;
    }
    .login-hr{
        margin-bottom: 30px;
    }
    .custom-input{
        display: inline-block !important;
        margin: 5px !important;
        min-width: 200px;
        width: 98%;
        padding: 20px !important;
        border: 1px solid #00A3C8;
        border-radius: 3px;
        background-color: #ffffff;
    }
    .submit{
        margin-bottom: 1rem !important;
        background-color: #212529;
        padding: 15px;
        width: 120px;
        color: #ffffff;
        border-radius: 5px;
        border: none;
        margin-top: 30px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}