.hospital-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    // margin-bottom: 90px;
    small{
        color: #767676;
    }
}